# gitignore

# git itself
.git

# all logs
*.log

# vscode/settings
.vscode

# local-config
.env

# database
database/sqlite.db

# jupyter
.ipynb_checkpoints

### Python ###
# precompiled
__pycache__
*.py[cod]
